doctype html
html
    head
        style
            include style.css
    body
        div
            | HELLO #{userName}
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) Inoxoft course Node.js
