<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h2>User</h2>

<hr>
{{#if name}}
  <h3>Name: {{name}}</h3>
  <h3>Password: {{password}}</h3>
{{/if}}

{{#if error}}
  <hr>
  <h3>{{error}}</h3>
{{/if}}

<hr>
<div><a href="../users">Users</a></div>

</body>
</html>