<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign In</title>
</head>
<body>

<h3>Sign In</h3>
<form action="/auth/login" method="post">
  <div><input type="text" name="name"></div>
  <div><input type="text" name="password"></div>
  <div><input type="submit" value="Login"></div>
</form>

{{#if error}}
  <hr>
  <h3>{{error}}</h3>
{{/if}}

<hr>
<div><a href="signup">Sign Up</a></div>

</body>
</html>